* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

body {
	width: 90%;
	margin: 0 auto;
    background-image: url("./images/WhiteBackground.png)
}

#content {
	overflow: auto;
}

#nav,
#feature,
#footer {
	margin: 1%;
}

.column1,
.column2,
.column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
}

.column3 {
	margin-right: 0%;
}

li {
	display: inline;
	padding: 0.5em;
}

#nav,
#footer {
	background-color: #c7ceea;
	padding: 0.5em 0;
}

#feature,
.article {
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
}

#nav {
  background-color: #ff9aa2;
}

#feature {
  background-color: #ffb7b2;
  background-image: url("./images/Flowers.png");
  background-size:contain;
  background-position: right;
  background-repeat:no-repeat;
}

#col1 {
  background-color: #ffdac1;
}

#col2 {
  background-color: #e2f0cb;
}

#col3 {
  background-color: #b5ead7;
}

h1 {
   font-family: 'GrundschriftRegular';
   font-weight: normal;
   font-style: normal;
}
